$bgcolor: #cdedf6;
$fontcolor: #042a2b;
$codecolor: #d84727;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bgcolor;
  color: $fontcolor;
  font-family: 'Open Sans';
  padding: 2rem;
}

h1 {
  border-bottom: 0.25rem solid $codecolor;
  display: inline-block;
  font-family: 'Roboto Slab';
  margin-bottom: 1.5rem;
  padding-bottom: 0.25rem;
}

p {
  margin-bottom: 2rem;
  max-width: 60ch;
}

code {
  color: $codecolor;
  display: inline-block;
  font-size: 1.2rem;
}